{:app {:name    "api-example"
       :version "0.1-SNAPSHOT"
       :project "api-example"}

 :api.routes/app
      {:api-version #ref [:app :version]
       :db #ig/ref :api.db.core/db}

 :api.core/jetty
      {:app   #ig/ref :api.routes/app
       :port  3000
       :join? false}

 :api.db.core/db-server
      {:port 4000}

 :api.db.core/db-server-shutdown
      {:db #ig/ref :api.db.core/db-server}

 :api.db.core/db
      {:host-name     "localhost"
       :port          #ref [:api.db.core/db-server :port]
       :database-name "postgres"
       :username      "postgres"
       :password      "postgres"}

 }




